<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>
    <%= f.input :public_access %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
