<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <%= link_to list.subject, "#list-collapse-#{list.id}", class: 'collapsed',
                  data: { toggle: 'collapse', parent: '#lists-accordion' } %>
      <div class="pull-right">
        <% unless list.public_access? %>
          <i class="glyphicon glyphicon-lock" title="Private Task List"
             data-toggle="tooltip" data-placement="bottom"></i>
        <% end %>
        <% if list.owned_by?(current_user) %>
          <%= link_to edit_list_path(list), data: { title: 'Edit', toggle: 'tooltip', placement: 'bottom' } do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to list, method: :delete, data: { confirm: 'This list and all their tasks will be deleted. Are you sure?',
                      title: 'Delete', toggle: 'tooltip', placement: 'bottom' } do %>
            <i class="glyphicon glyphicon-trash text-danger"></i>
          <% end %>
        <% else list.public_access? %>
          <%= link_to list_favorite_path(list), method: :post, data: { title: 'Favorite',
                      toggle: 'tooltip', placement: 'bottom' } do %>
            <i class="glyphicon glyphicon-star-empty"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id=<%= "list-collapse-#{list.id}"%> class="panel-collapse collapse">
    <ul class="list-group">
      <% list.tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </ul>
    <div class="panel-footer">
      <% if list.owned_by?(current_user) %>
        <%= simple_form_for(@task, remote: true, wrapper: :inline_form,
              html: { class: 'form-inline' }) do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :list_id, value: list.id %>
          <%= f.label 'New Task:', class: 'control-label' %>
          <%= f.input :description, required: true %>
          <%= f.button :submit, class: 'btn btn-success' %>
        <% end %>
      <% else %>
        <em>
          Task list by <%= list.user.email %>
        </em>
      <% end %>
    </div>
  </div>
</div>
