<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Task List', root_path, class: 'navbar-brand' %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Lists', lists_path %></li>
        <li><%= link_to 'Tasks', tasks_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to t('devise.registrations.new.sign_out'), destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
        <li><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
